In [0]:
#1How many types of modes we have in spark?
#Modes-- FailFast,Dropmal,Permissive

In [0]:
#2.What is cluster in Spark?
#A cluster is which one has driver and worker nodes to do tasks in spark

In [0]:
#3what is a table in spark?
#A table in spark is one which has rows and columns and every rows has null or nonnull values along the column

In [0]:
#4Read the dataset in databricks community
spark

In [0]:
df1 = spark.read.format("csv").option("header", "true").option('mode','FAILFAST').load("dbfs:/FileStore/shared_uploads/sakthieswarandp@gmail.com/world_population_data1-1.csv")

In [0]:
#5What would you do if you want to show the header while showing up 5 records in table? write the code
#when creating the dataframe for csv file we have give header option true for showing the header then to show 5 records just have use show function
df1 = spark.read.format("csv").option("header", "true").option('mode','FAILFAST').load("dbfs:/FileStore/shared_uploads/sakthieswarandp@gmail.com/world_population_data1-1.csv")

In [0]:
df1.show(5)

+----+----+-------------+-------------+----------+----------+----------+----------+----------+----------+----------+---------+---------+----------+--------------+-----------+----------------+
|rank|cca3|      country|    continent|      2023|      2022|      2020|      2015|      2010|      2000|      1990|     1980|     1970|area(sqkm)|density_(sqkm)|growth_rate|world_percentage|
+----+----+-------------+-------------+----------+----------+----------+----------+----------+----------+----------+---------+---------+----------+--------------+-----------+----------------+
|   1| IND|        India|         Asia|1428627663|1417173173|1396387127|1322866505|1240613620|1059633675| 870452165|696828385|557501301| 3287590.0|           481|      0.81%|          17.85%|
|   2| CHN|        China|         Asia|1425671352|1425887337|1424929781|1393715448|1348191368|1264099069|1153704252|982372466|822534450| 9706961.0|           151|     -0.02%|          17.81%|
|   3| USA|United States|North America| 339996563| 338289857| 335942003| 324607776| 311182845| 282398554| 248083732|223140018|200328340| 9372610.0|            37|      0.50%|           4.25%|
|   4| IDN|    Indonesia|         Asia| 277534122| 275501339| 271857970| 259091970| 244016173| 214072421| 182159874|148177096|115228394| 1904569.0|           148|      0.74%|           3.47%|
|   5| PAK|     Pakistan|         Asia| 240485658| 235824862| 227196741| 210969298| 194454498| 154369924| 115414069| 80624057| 59290872|  881912.0|           312|      1.98%|           3.00%|
+----+----+-------------+-------------+----------+----------+----------+----------+----------+----------+----------+---------+---------+----------+--------------+-----------+----------------+
only showing top 5 rows

In [0]:
#6.What is count?Perform in spark
#Count gives the no of records in dataframe when used along column it will give the total no of values in the column.
df1.count()

Out[14]: 234

In [0]:
#7.What is groupby? perform in spark.
#Groupby is transformation which is used to make  group along a particular column in a dataframe with some aggregate function(s). 
df1.groupby('continent').count().show()

+-------------+-----+
|    continent|count|
+-------------+-----+
|       Europe|   50|
|       Africa|   57|
|North America|   40|
|South America|   14|
|      Oceania|   23|
|         Asia|   50|
+-------------+-----+